<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
</head>
<body>
    <form method="POST" action="http://localhost:3005/session/login" >
        <input type="text" name="username" placeholder="Usuario" required>
        <button type="submit">Long In</button>
    </form>
    <script src="../routes/session/session.routes.js"></script>
</body>
</html>