<h2>Agregar Productos</h2>
<form method="POST" action="http://localhost:4000/" >
    <input type="text" name="title" placeholder="Producto">
    <input type="number" name="price" placeholder="Precio">
    <input type="text" name="thumbnail" placeholder="Categoría">
    <button type="submit">click me</button>
</form>
<a href="http://localhost:4000/productos">Ver lista de Productos</a>