h1='Ingresá un nuevo producto'
form(method="POST" action="http://localhost:4000/")
    input(type="text" name="title" placeholder="Producto")
    input(type="number" name="price" placeholder="Precio")
    input(type="text" name="thumbnail" placeholder="Categoría")
    button(type="submit")
        p='Click Me'
a(href='http://localhost:4000/productos') Ver lista de Productos