<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ingresá tu prroducto</h1>

    <h2>Blue - Red - Green</h2>

    <form method="POST" action="http://localhost:8080/" >
        <input type="text" name="color" placeholder="Color">
        <button type="submit">click me</button>
    </form>

    <ul>
        <% if(coloresDb) {%>
          <% coloresDb.forEach( c => { %>
            <li>
              <%= c %>
            </li>
          <% }) %>
        <% } %>
      </ul>

</form>
</body>
</html>

